*{
    margin: 0px;
    padding: 0px;
    font-display: 'Neue Haas Grotesk', 'Helvetica Now', sans-serif;
}

#topo{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #2dc8f9;
    text-align: center;
}

#logo h1{
    padding: 10px;
    font-size: 4em;
    color: #43a2c2;
    text-decoration: #f2f9fc;
    letter-spacing: -1.5px;
    -webkit-text-stroke: 2px white;
    font-weight: 700;
}


#menu ul{
    list-style-type: none;
    background-color: #018dba;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 8px;
}

#menu ul li a {
    text-decoration: none;
    color: #fbfdfe;
    font-style: italic;
}
#menu ul #atual a{
    color: #e19816;
}

#conteudo{
    font-family: 'Oswald', sans-serif;
    background-color: #d9d9d9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.item img{
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    width: 300px;
    padding: 20px;
    text-align: center;
}

.item span{
    color: #018dba;
    font-weight: bolder;
    font-style: italic;
}

.item button{
    padding: 10px 70px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #018dba;
    color: #d9d9d9;
    font-style: italic;
    font-weight: bolder;
    border: none;
}